* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  position: relative;
}

.timer-box{
  height: 80vh;
  width: 80vw;
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#real-time{
  font-size: 2rem;
  text-align: center;
  margin: 5px auto;
}

.free-time{
  text-align: center;
  margin-top: 30px;
  font-size: 5rem;
  font-weight: bold;
}

.free-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 30vh;
  line-height: 30vh;
  width: 50vw;
  border: 3px solid black;
  padding: 10px;
}

.free-timer{
  height: 20vh;
  line-height: 20vw;
  display: block;
  text-align: center;
  font-size: 10rem;
  width: 45%;
  border-style: none;
  background-color: white;
  color: black;
}

.free{
  font-weight: bold;
  font-size: 8rem;
  margin: 0 10px;
}

.free-box{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-sec{
  display: flex;
  justify-content: center;
}

.add-btn{
  margin: 5px 5px 0 0;
  font-size: 2rem;
  color: black;
  background-color: #DCC2FF;
  border-bottom: 5px solid #9057FF;
}

#free-start{
  display: block;
  font-size: 3rem;
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  padding: 0 5px;
}

#free-stop{
  display: block;
  margin: 0 10px;
  font-size: 3rem;
  color: #b84c00;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  padding: 0 5px;
}

#free-reset{
  display: block;
  font-size: 3rem;
  color: #b84c00;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  padding: 0 5px;
}

#count-memo{
  font-size: 20px;
  font-weight: bold;
  color: red;
  padding: 0 5px;
}

.free-time{
  margin: 0 auto;
}